# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/.vscode
/__pycache__
/asm/smt1
/assets/smt1
build/SLPS_031.70
build/slps_031.elf
/game/smt1
/game/smt2
/game/smtif
/tools/m2c-master
/tools/maspsx
/tools/psyq
/tools
